* {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    box-sizing: border-box;
    margin: 0;
    padding: 0
}


p {
    font-size: 20px
}

a {
color: black;
}

h1 {
    margin: 0;
}