* {
    font-family: 'Open Sans', sans-serif;
    color: rgb(216, 192, 188);
    letter-spacing: 2px;
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

p {
    font-size: 20px
}

.wrapper {
    padding: 0 10px
}